
<!-- 
    <footer class="footer">
      <div class="container">
 <ul class="social-icon animate pull-right">
                  <li><a href="#" title="facebook" target="_blank"><i class="fa fa-facebook"></i></a></li> change the link to social page and edit title
                  <li><a href="#" title="twitter" target="_blank"><i class="fa fa-twitter"></i></a></li>
                  <li><a href="#" title="google plus" target="_blank"><i class="fa fa-google-plus"></i></a></li>
                </ul>
                </div>
    </footer> -->

    <script>
      $(document).ready(function(){
          $("#flashmessage").delay(1000).slideUp(200);
      });
        </script>

    <div class="footer">
        <p> Copyright © 2019 Sumocab. All Rights Reserved.</p>
      </div>

    <style>
body{background-color: #fff;}

.social-icon {
  list-style: none;
  padding: 0;
  margin: 0;
}

.social-icon li{
  display: inline-block;
  text-align: center;
}

.social-icon a {
  display: block;
  width: 44px;
  height: 44px;
  line-height: 44px;
  border-radius: 50%;
  margin-right: 5px;
}

.social-icon a {
  background: rgba(255, 255, 255, 0.85); /* social icon background color */
  color: #000; /* social icon color */
}

.social-icon a:hover {
  background: rgba(255, 255, 255, 0.25); /* social icon hover background color */
  color: #fff; /* social icon hover color */
}

.footer {
   position: fixed;
   left: 0;
   bottom: 0;
   width: 100%;
   background-color: black;
   color: white;
   text-align: center;
}
.driveradd{
  margin: 50px 0px 100px 0px;
}

.form-control {
    padding: 0 10px;
    height: 34px !important;
}


      </style>